:root
{
    --favcolor: rgb(0,0,175);
}
h1
{
  text-decoration: underline; bold;
  color: rbg(0,0,175);
}
h2
{
    font-variant: small-caps;
    font-style: underline; bold;
}
#minortext
{
    font-style: italic;
    color: rgb(0,85,175);
 }
p
{
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 12pt;
}
    
