:root
{
    --favcolor: rgb(0,0,175);
}
h1
{
  text-decoration: underline; bold;
  color: rgb(0, 0, 175);
  background-color: rgb(0, 0, 0);
}
h2
{
    font-variant: small-caps;
}
#minortext
{
    font-style: italic;
    color: rgb(0, 85, 175);
 }
p
{
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 12pt;
}
    
