body
{
    background-color: teal;
}
h1
{
  text-decoration: underline; bold;
  color: rgb(0, 0, 175);
  background-color: rgb(0, 0, 0);
}
h2
{
    font-variant: small-caps: underline;
}
section
{
    border: 3px solid;
    margin-top: 40px;
    margin-bottom: 40px;
 }
h3
{
    text-decoration;
}
.date
{
    color: red;
}
